[Desktop Entry]
Name=ZLogin
Comment=ZLogin
Exec=/usr/share/customscripts/z_login.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
Name[en_AU]=z_login
